body{
	font-size: 16px;
	background-color: #00ffbf;

}

#header-nav {
    background-color: #00bfff;
	border-radius: 0;
	border: 0;
	margin-bottom: 10px;
	height: 100px;
}
.navbar-header{
	font-size: 20px;
}

.p1{
	text-align: center;
	font-size: 30px;
	color: green;
}
.p2{
	height: 200px;
	background-color:#80ff00;
	border: 1px solid black;
	margin-top: 30px;
	overflow: hidden;
	padding: 5px;
}
.p3{
	text-align: center;
	margin: 10px;
	font-weight: bold;
}

.p4{
	height: 200px;
	background-color:#0080ff;
	border: 1px solid black;
	margin-top: 30px;
	overflow: hidden;
	padding: 5px;
}
.p5{
	text-align: center;
	margin: 10px;
	font-weight: bold;
}

.p6{
	height: 200px;
	background-color:#bfff00;
	border: 1px solid black;
	margin-top: 30px;
	overflow: hidden;
	padding: 5px;
}
.p7{
	text-align: center;
	margin: 10px;
	font-weight: bold;
}
@media (min-width:768px ){
	.dropdown-toggle{
		display: none;
	}
	.p8{
		display: none;
	}
	.d1{
		display: none;
	}

}
@media (max-width: 769px){
	.p1{
		display: none;
	}
	.p2{
		display: none;
	}
	.p3{
		display: none;
	}
	.p4{
		display: none;
	}
	.p5{
		display: none;
	}
	.p6{
		display: none;
	}
	.p7{
		display: none;
	}
	.d5{
		display: none;
	}
	.dropdown-menu{
		display:inline-block;
	}
	#header-nav{
		height: 300px;
	}

}


